.card-body {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    letter-spacing: 0;
    height: auto;
  }
  .card{
      margin-bottom: 20px;
      border: 1px solid;
      box-shadow: 5px 10px 8px #888888;
  }
  .card:hover{
      opacity: 0.5;
  }
  .card-body p{
      height: 74px;
      overflow: hidden;
      position: relative;
  }
  .card-body span{
      padding-bottom: 10px;
      display: block;
      color: black;
      font-size: 20px;
      font-weight: bold;
      text-shadow: 2px 2px 5px red;
  }
  .course-type{
      font-family: Roboto,sans-serif;
      font-weight: 600;
      color: #51061B;
  }