<div class="container-fluid p-0 m-0"> 
  <h3 class="course-type">All students</h3>          
    <table class="table table-light table-striped">
      <thead>
        <tr>
          <th>Id</th>
          <th>Student Name</th>
          <th>Email</th>
          <th>Phone Number</th>
          <th>Role</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
       <tr *ngFor="let student of students">
         <td>{{student.id}}</td>
         <td>{{student.firstName}} {{student.lastName}}</td>
         <td>{{student.email}}</td>
         <td>{{student.phoneNo}}</td>
         <td>{{student.role}}</td>
         <td><span class="material-icons"  (click)="openDialog(student.id)" style="cursor: pointer;">
          create
          </span>
          <span class="material-icons"  style="cursor: pointer;">
            delete
            </span></td>
       </tr>
      </tbody>
    </table>
  </div>
  